
      <h1 class="text-3xl font-bold text-black">Edit Menu Pesanan</h1>
  
    <div class="w-full mt-4">
      <div class="leading-loose">
        
        <%= form_with model: @menu do |form|%>
          <%= csrf_meta_tags %>
            <div class="mt-2 my-6">
                <label class="block text-lg text-gray-600" for="title">Nama Menu</label>
                <%= form.text_field :name, placeholder: "Nama" , class: 'w-1/3 px-3 py-2 text-gray-700 bg-gray-200 rounded'%>
            </div>
            <div class="mt-2 my-6">
                <label class="block text-lg text-gray-600" for="title">Harga</label>
                <%= form.text_field :price, placeholder: "Harga" , class: 'w-1/3 px-3 py-2 text-gray-700 bg-gray-200 rounded'%>
            </div>
            <div class="mt-2 my-6">
                <label class="block text-lg text-gray-600" for="title">Kategori Menu</label>
            <%= form.select :category_id, Category.all.collect {|x| [x.name, x.id]}, {}, class: 'w-1/3 px-3 py-2 text-gray-700 bg-gray-200 rounded' %>
            
            </div>
            
            <div class="mt-2 my-6">
                <label class="block text-lg text-gray-600" for="title">Deskripsi</label>
                <%= form.text_area :desc, class: 'w-1/3 text-gray-700 bg-gray-200 rounded'%>
            </div>
            <%= form.submit "Edit Data", class: 'text-white bg-green-500 hover:bg-green-400 py-1 px-3 rounded'%>
            <a href="/menus" class="text-white bg-gray-700 hover:bg-gray-400 py-3 px-4 rounded"><i class="fas fa-chevron-circle-left"></i> Kembali</a>
        <% end %>
      </div>
    </div>