    <h1 class="text-3xl font-bold text-black">Edit Transaksi</h1>
  
    <div class="w-full mt-4">
      <div class="leading-loose">
        
        <%= form_with model: @cart do |form|%>
          <%= csrf_meta_tags %>
            <div class="mt-2 my-6">
                <label class="block text-lg text-gray-600" for="title">Nama Pesanan</label>
                <%= form.select :name, Menu.all.collect {|x| [x.name, x.name]}, {}, class: 'w-1/3 px-3 py-2 text-gray-700 bg-gray-200 rounded' %>
            </div>
            <div class="mt-2 my-6">
                <label class="block text-lg text-gray-600" for="title">Harga</label>
                <%= form.select :price, Menu.all.collect {|x| [x.price, x.price]}, {}, class: 'w-1/3 px-3 py-2 text-gray-700 bg-gray-200 rounded' %>
            </div>
            <div class="mt-2 my-6">
                <label class="block text-lg text-gray-600" for="title">Nama Menu</label>
                <%= form.text_field :qty, placeholder: "Jumlah" , class: 'w-1/3 px-3 py-2 text-gray-700 bg-gray-200 rounded'%>
            </div>
            <%= form.submit "Tambah Data", class: 'text-white bg-green-500 hover:bg-green-400 py-1 px-3 rounded'%>
            <a href="/carts" class="text-white bg-gray-700 hover:bg-gray-400 py-3 px-4 rounded"><i class="fas fa-chevron-circle-left"></i> Kembali</a>
        <% end %>
      </div>
    </div>
